<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
            </div>
            <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li role="presentation" routerLinkActive="active" *ngIf="loggedIn"><a [routerLink]="['/recipes']">Recipes</a></li>
                <li role="presentation" routerLinkActive="active"><a [routerLink]="['/list']">Shopping List</a></li>
                <li role="presentation" routerLinkActive="active" *ngIf="!loggedIn"><a [routerLink]="['/auth']">Login or Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation" *ngIf="loggedIn && collapsed">
                <a style="cursor: pointer;">Hello, {{ user.name }}</a>
              </li>
              <li class="dropdown" appDropdown *ngIf="loggedIn">
                  <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a style="cursor: pointer;" (click)="saveData()">Save Data</a></li>
                      <li><a style="cursor: pointer;" (click)="fetchData()">Fetch Data</a></li>
                      <li><a style="cursor: pointer;">User Settings</a></li>
                      <li><a style="cursor: pointer;" (click)="onLogout()">Log Out</a></li>
                  </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>
