<div class="row">
  <div class=col-xs-12>
    <form [formGroup]="recipeForm" (ngSubmit)="onSave()">
      <div class="row">
        <div class=col-xs-12>
          <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" formControlName="name"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <div class="form-group">
            <label for="image-url">Image Path</label>
            <input type="text" id="image-url" name="image-url" class="form-control" formControlName="image-url" #imageUrl/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <img [src]="imageUrl.value" alt="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="6" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=col-xs-12>
          <button type="button" class="btn btn-success" (click)="addIngredient()" >Add Ingredient</button>
        </div>
      </div>
      <hr>
      <div class="col-xs-12" formArrayName="ingredients">
        <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
          <div class="col-xs-6 form-group">
            <input type="text"
                   name="ingredientName"
                   id="ingredientName"
                   class="form-control"
                   formControlName="ingredientName">
          </div>
          <div class="col-xs-2 form-group">
              <input type="number"
                    name="amount"
                    id="amount"
                    class="form-control"
                    formControlName="amount">
          </div>
          <div class="col-xs-2 form-group">
            <input type="text"
                  name="unit"
                  id="unit"
                  class="form-control"
                  formControlName="unit">
          </div>
          <div class=col-xs-2>
            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
