<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert" [ngClass]="{'alert-danger': error, 'alert-warning': !error}" *ngIf="authMessage">
      <h3>{{ authMessage.code === 0 ? 'Logged Out' : 'Error' }}</h3>
      <p>{{ authMessage.message }}</p>
      <button class="btn" [ngClass]="{'btn-danger': error, 'btn-warning': !error}" (click)="clearError()">Understood</button>
    </div> -->
    <app-alert [message]="authMessage" (closeModal)="clearError()" *ngIf="authMessage"></app-alert>
    <form #authenticationForm="ngForm" (ngSubmit)="onSubmit(authenticationForm)">
      <div class="form-group">
        <div class="form-group" *ngIf="!loginMode">
          <label for="displayName">Display Name</label>
          <input type="text" class="form-control" name="displayName" id="displayName" ngModel required [disabled]="waitingForResponse">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" ngModel required email [disabled]="waitingForResponse"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" ngModel required minlength="16" [disabled]="waitingForResponse"/>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary" [disabled]="authenticationForm.invalid || waitingForResponse">{{ loginMode ? 'Sign In' : 'Register' }}</button> |
        <button type="button" class="btn btn-secondary" [disabled]="waitingForResponse" (click)="switchMode()" >Switch to {{ loginMode ? 'Registration' : 'Log In'}}</button>
      </div>
    </form>
    <div class="throbber" *ngIf="waitingForResponse">
      <svg class="spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    </div>
  </div>
</div>
