<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (formReset)="clearSelect()"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients; let i = index" (click)="onEditItem(i)" [class.active]="selectedId === i" [@listGroup]="hoverStates[i]" (mouseenter)="onHover(i)" (mouseleave)="onLeave(i)" >
                {{ ingredient.GetString() }}
            </a>
        </ul>
    </div>
</div>
