<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" [routerLink]="['new']">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe *ngFor="let recipe of recipes; let i = index" [recipe]="recipe"></app-recipe>
    </div>
</div>

