<a class="list-group-item clearfix" [routerLink]="[recipe.id]" style="cursor: pointer;" routerLinkActive="active" [@hover]="states[state % states.length]" (mouseenter)="changeState()" (mouseleave)="changeState()">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ this.recipe.name }}</h4>
                <p class="list-group-item-text">{{ this.recipe.description }}</p>
            </div>
            <span class="pull-right">
                <img src="{{ this.recipe.imagePath }}" alt="{{ this.recipe.name }}" class="img-responsive" style="max-height: 50px;">
            </span>
        </a>
