<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <app-recipe-book *ngIf="this.state.recipe"></app-recipe-book>
            <app-shopping-list *ngIf="this.state.list"></app-shopping-list> -->
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
