<div class="backdrop"></div>
<div class="alert-box">
  <h3>{{ message.code > 0 ? 'An Error Occurred' : 'Logged out' }}</h3>
  <p>{{ message.message }}</p>
  <div class="alert-box-actions">
    <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
  </div>
</div>
