<div class="row">
    <div class="col-xs-12">
        <img src="{{ this.recipe.imagePath }}" alt="" class="img-responsive" id="recipe-details-image">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ this.recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-grp" appDropdown>
            <button class="btn btn-primary dropdown-toggle" type="button">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="sendIngredients()" style="cursor: pointer;">To Shopping List</a></li>
                <li><a (click)="onEdit()"style="cursor: pointer;">Edit Recipe</a></li>
                <li><a (click)="onDelete()" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ recipe.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of ingredients"> {{ ingredient.GetString() }}</li>
        </ul>
    </div>
</div>
