/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #457B9D;
}

/* Nav */
.navbar {
  background-color: #1D3557;
  border-color: #1D3557
}

nav .container-fluid {
  background-color: #1D3557;
}

.navbar-default .navbar-brand {
  color: #A8DADC;
}

.navbar-default .navbar-brand:hover {
  color: #A8DADC;
}

.navbar-default .navbar-nav li a {
  color: #A8DADC;
}

.navbar-default .navbar-nav li a:hover {
  color: #E63946;
}

.navbar-default .navbar-nav .active a {
  background-color: #335d99;
  color: #A8DADC;
}

.navbar-default .navbar-nav .active a:hover {
  background-color: #335d99;
  color: #A8DADC;
}

.navbar-default .navbar-nav .active a:focus {
  background-color: #335d99;
  color: #A8DADC;
}
/* End Nav */

/* Forms */
label {
  color: #A8DADC;
}

.form-control {
  background-color: #F1FAEE;
}

.btn[disabled] {
  border: none;
  opacity: 1;
}

.btn-primary {
  background-color: #322B6F;
  color: #A8DADC;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #4e44ac;
  color: #A8DADC;
  border: none;
}

.btn-primary[disabled] {
  background-color: #322B6F;
  color: #A8DADC;
  border: none;
  filter: none;
  opacity: 1;
}

.btn-secondary {
  background-color: #4b457c;
  color: #A8DADC;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #6158a5;
  color: #A8DADC;
}

.btn-secondary:focus {
  outline: 5px auto #322B6F;
}
/* End Forms */

/* various */
.list-group-item {
  background-color: #F1FAEE;
}
.list-group-item.active {
  background-color: #335d99;
}
