<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="addClicked(ourForm)" #ourForm="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           name="name"
                           id="name"
                           class="form-control"
                           required
                           ngModel>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number"
                           name="amount"
                           id="amount"
                           class="form-control"
                           required
                           appGreaterThanZero
                           ngModel>
                </div>
                <div class="col-sm-2 form-group">
                  <label for="unit">Unit</label>
                  <input type="text"
                         name="unit"
                         id="unit"
                         class="form-control"
                         required
                         ngModel>
                </div>
                <div class="col-sm-1 form-group">
                  <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit" [disabled]="ourForm.invalid">{{editMode ? 'Update': 'Add'}}</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
